<div *ngIf="!(authors$| async)">loading authors...</div>
<mat-card>
                  <mat-list  *ngFor="let author of authors$ | async">
                        <span *ngIf="author.id == id;  else other">
                        </span> 
                        <ng-template #other>{{author.name}} </ng-template> 
                        <a mat-list-item routerLink ="/editauthor/{{author.name}}/{{author.id}}"routerLinkActive="active" >Edit Authors</a>
              </mat-list>
  
  </mat-card>
  
<!-- add author -->
  <mat-card>
        <h4>New Author</h4>
            <form #addAuthorForm="ngForm" (ngSubmit)="addNewAuthor()">
                <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="Author name" [(ngModel)] = "newAuthor"
                                        name = "newAuthor"
                                        required #spy
                                        #temp = "ngModel">
                            <mat-error *ngIf="!(temp.valid || temp.pristine)">
                                    Author is required
                            </mat-error>                        
                        </mat-form-field>
                
                    
                        <div >
                            <button mat-raised-button color="primary" [disabled]="!addAuthorForm.form.valid">Add Author</button>
                        </div>
                </div>
            </form>
        </mat-card>
    