<mat-card>
    <h1>{{titleText}}</h1>
    <form #postFrom ="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="Post title"
                [(ngModel)] = "title"
                name = "title">
        </mat-form-field> 
        <br>
        <mat-form-field>
                <input 
                    matInput placeholder="Post body"
                    [(ngModel)] = "body"
                    name = "body">
        </mat-form-field> 
        <br> 
        <mat-form-field>
            <input 
                matInput placeholder="Post author"
                [(ngModel)] = "author"
                name = "author">
    </mat-form-field>                    
        <div >
            <button mat-raised-button color="primary" [disabled]="!postFrom.form.valid">{{buttonText}}</button>
            <button mat-raised-button [routerLink]="'/posts'" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>